input {
    padding: 5px 0px 2px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}

input::placeholder {
    color: white;
}

.input_wrapper {
    max-width: 800px;
    margin: 10px 0px;
}

@media screen and (min-width:1440px) {
    .input_wrapper {
        position: fixed;
        transform: translate(-50%, 0px);
        left: 50%;
        width: 730px;
    }
}