.unit_changer{
    position: absolute;
    left: auto;
    right: 30px;
}
.unit_changer button{
    background: none;
    box-shadow: none;
    border: none;
    color: white;
    margin: 0px 10px;
    font-size: 18px;
    cursor: pointer;
}
.unit_changer button.active{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}