.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 0px 15px 15px 0px;
    text-align: center;
    background: white;
    min-width: 170px;
    color: darkslategrey;
}
.temp{
    font-size: 14px;
    font-weight: normal;
}
.temp span{
    font-size: 50px;
}
.card > * {
    margin: 10px 0px;
}
.image{
    margin: 0;
}
.condition{
    margin-bottom: 0;
}
.additional_data_container{
    width: 100%;
    margin-top: 15px;
}
.additional_data{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 12px 0px 0px 0px;
}
.additional_data:first-of-type{
    margin-top: 0px;
}
.additional_data .value{
    font-size: 16px;
    text-align: left;
    width: 100%;
}
.additional_data .title{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}
.additional_data .span{
    width: 100%;
}
.additional_data p{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 50%;
}
.Dark .card{
    background: rgba(0,0,0,0.7);
}
.Dark .card *{
    color: white;
}