.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

main {
    padding: 20px;
    width: 80vw;
    margin: 120px auto 0px auto;
    max-width: 730px;
    height: calc(100vh - 160px);
    overflow: scroll;
    overflow-x: hidden;
}

main::-webkit-scrollbar {
    display: none;
}

main section {
    margin: 0px 0px 60px 0px;
}

header {
    padding: 20px;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
}

@media screen and (min-width:1440px) {
    header {
        align-items: center;
        flex-direction: row;
    }
    main {
        margin: 70px auto 0px auto;
        height: calc(100vh - 110px);
    }
}
